In [3]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns # for visualiation
from datetime import datetime
pd.options.display.max_columns = None

In [4]:

# combined mass shooting data from 13-18
mass = pd.read_csv('./data/mass_shooting_data_13_18.csv')
mass = mass.drop(['Operations'], axis=1)

In [5]:
df = pd.read_csv('./data/gunsales_population.csv')
df=df.drop('Unnamed: 0',axis=1)

In [6]:
mass.head()

,Incident Date,State,City Or County,Address,# Killed,# Injured
0,"December 31, 2013",New York,Brooklyn,60 Glenmore Ave,0,6
1,"December 28, 2013",Alabama,Montgomery,954 Highland Ave,3,5
2,"December 26, 2013",Louisiana,Slidell,2144 First St,2,6
3,"December 26, 2013",Louisiana,Lockport,313 Tenth St,3,3
4,"December 25, 2013",New Jersey,Irvington,Nye Avenue and 21st Street,3,2

In [7]:
df.head()

,year,state,population,admin,handgun,long_gun,month,multiple,other,permit,totals
0,2013,United States,316234505.0,267.0,881038.0,788328.0,1,31029.0,26137.0,693076.0,2483230.0
1,2013,United States,316234505.0,375.0,770872.0,703223.0,2,31163.0,22709.0,664252.0,2298561.0
2,2013,United States,316234505.0,376.0,683266.0,700873.0,3,23878.0,23817.0,695386.0,2197116.0
3,2013,United States,316234505.0,665.0,533674.0,554003.0,4,18624.0,21136.0,517224.0,1702455.0
4,2013,United States,316234505.0,619.0,445522.0,436674.0,5,16057.0,15605.0,449993.0,1424450.0

In [8]:
mass.columns = ['Date','state','city','Address','killed','injured']
mass = mass.drop('Address',axis=1)
mass['year']=pd.DatetimeIndex(mass['Date']).year
mass['month']=pd.DatetimeIndex(mass['Date']).month
mass = mass.drop('Date',axis=1)

In [9]:
by_shootings = df.merge(mass)

In [10]:
by_shootings.to_csv('./data/gunsales_population_by_shootings.csv',index=False)

In [11]:
def keep(x):
    if x >10:
        return 1
    else:
        return 0

In [12]:
mass_grouped = mass
mass_grouped['affected'] = mass_grouped.killed+mass_grouped.injured
mass_grouped['affected_over_10'] = mass_grouped.affected.apply(lambda x:keep(x))
mass_grouped = mass_grouped.groupby(['state','year','month'])['killed','injured','affected','affected_over_10'].agg(['sum','count','max']).reset_index()
mass_grouped.columns = ['state','year','month','killed','kill_count','killed_max','injured','incidents','injured_max','affected_sum','affected_count','affected_max','affected_over_10','affected_over_10_count','affected_over_10_max']
mass_grouped = mass_grouped.drop(['kill_count','affected_count','affected_sum','affected_count','affected_over_10_count','affected_over_10_max'],axis=1)

In [13]:
replace = mass_grouped
mass_grouped = mass_grouped.reset_index()
for yr in range(2013,2018):
    for m in range(1,13):
        kill = 0
        km = 0
        inj = 0
        inc=0
        im = 0
        aff = 0
        aff_10 = 0
        for st in mass_grouped.state.unique():
            temp = mass_grouped[(mass_grouped.state == st) & (mass_grouped.year==yr) & (mass_grouped.month ==m)]
            for ind in temp['index'].unique():
                cur = temp[temp['index']==ind]
                kill += cur.killed.values[0]
                inj += cur.injured.values[0]
                aff_10+=cur.affected_over_10.values[0]
                inc += cur.incidents.values[0]
                if cur.killed_max.values[0] >km:
                    km = cur.killed_max.values[0]
                if cur.injured_max.values[0] >im:
                    im = cur.injured_max.values[0]
                if cur.affected_max.values[0] >aff:
                    aff = cur.affected_max.values[0]
        replace = replace.append({'state':'United States',
                             'killed':kill,
                             'killed_max':km,
                             'injured':inj,
                             'incidents':inc,
                             'injured_max': im,
                             'year':yr,
                             'month':m,
                             'affected_max':aff, 
                             'affected_over_10':aff_10},ignore_index=True)
mass_grouped = replace

In [14]:
df = pd.merge(df,mass_grouped,how='left')
df = df.fillna(0)

In [15]:
df['killed_ave'] = df.killed/df.incidents
df['injured_ave'] =  df.injured/df.incidents

In [16]:
df['admin_pop'] = 100000 * df.admin/df.population
df['handgun_pop'] = 100000 * df.handgun/df.population
df['long_gun_pop'] = 100000 * df.long_gun/df.population
df['multiple_pop'] = 100000 * df.multiple/df.population
df['other_pop'] = 100000 * df.other/df.population
df['permit_pop'] = 100000 * df.permit/df.population
df['totals_pop'] = 100000 * df.totals/df.population
df['killed_pop'] = 100000 * df.killed/df.population
df['injured_pop'] = 100000 * df.injured/df.population
df['incidents_pop'] = 100000 * df.incidents/df.population

In [17]:
df

,year,state,population,admin,handgun,long_gun,month,multiple,other,permit,totals,killed,killed_max,injured,incidents,injured_max,affected_max,affected_over_10,killed_ave,injured_ave,admin_pop,handgun_pop,long_gun_pop,multiple_pop,other_pop,permit_pop,totals_pop,killed_pop,injured_pop,incidents_pop
0,2013,United States,316234505.0,267.0,881038.0,788328.0,1,31029.0,26137.0,693076.0,2483230.0,16.0,5.0,39.0,12.0,6.0,7.0,0.0,1.333333,3.250000,0.084431,278.602741,249.285890,9.812022,8.265069,219.165205,785.249541,0.005060,0.012333,0.003795
1,2013,United States,316234505.0,375.0,770872.0,703223.0,2,31163.0,22709.0,664252.0,2298561.0,14.0,4.0,45.0,12.0,8.0,8.0,0.0,1.166667,3.750000,0.118583,243.765936,222.373899,9.854396,7.181063,210.050450,726.853320,0.004427,0.014230,0.003795
2,2013,United States,316234505.0,376.0,683266.0,700873.0,3,23878.0,23817.0,695386.0,2197116.0,25.0,6.0,75.0,19.0,13.0,13.0,1.0,1.315789,3.947368,0.118899,216.063076,221.630780,7.550726,7.531436,219.895675,694.774278,0.007906,0.023717,0.006008
3,2013,United States,316234505.0,665.0,533674.0,554003.0,4,18624.0,21136.0,517224.0,1702455.0,26.0,6.0,52.0,17.0,5.0,7.0,0.0,1.529412,3.058824,0.210287,168.758940,175.187398,5.889300,6.683648,163.557105,538.352069,0.008222,0.016443,0.005376
4,2013,United States,316234505.0,619.0,445522.0,436674.0,5,16057.0,15605.0,449993.0,1424450.0,18.0,5.0,99.0,24.0,19.0,19.0,1.0,0.750000,4.125000,0.195741,140.883424,138.085501,5.077561,4.934629,142.297249,450.441042,0.005692,0.031306,0.007589
5,2013,United States,316234505.0,444.0,394363.0,392866.0,6,14526.0,13555.0,398792.0,1270817.0,25.0,6.0,131.0,31.0,9.0,9.0,0.0,0.806452,4.225806,0.140402,124.705873,124.232490,4.593427,4.286376,126.106416,401.859057,0.007906,0.041425,0.009803
6,2013,United States,316234505.0,519.0,391016.0,376846.0,7,14339.0,12468.0,416312.0,1271571.0,30.0,7.0,106.0,31.0,6.0,7.0,0.0,0.967742,3.419355,0.164119,123.647481,119.166629,4.534293,3.942644,131.646608,402.097488,0.009487,0.033519,0.009803
7,2013,United States,316234505.0,582.0,428058.0,497092.0,8,17092.0,13486.0,391909.0,1408468.0,32.0,4.0,84.0,25.0,5.0,8.0,0.0,1.280000,3.360000,0.184041,135.360940,157.190943,5.404850,4.264557,123.929867,445.387198,0.010119,0.026563,0.007906
8,2013,United States,316234505.0,469.0,413380.0,523292.0,9,16018.0,14005.0,357722.0,1392423.0,37.0,11.0,110.0,28.0,12.0,14.0,2.0,1.321429,3.928571,0.148308,130.719448,165.475934,5.065228,4.428675,113.119218,440.313431,0.011700,0.034784,0.008854
9,2013,United States,316234505.0,675.0,422005.0,578973.0,10,17954.0,14272.0,565281.0,1679099.0,18.0,5.0,80.0,18.0,12.0,13.0,1.0,1.000000,4.444444,0.213449,133.446855,183.083437,5.677432,4.513106,178.753738,530.966411,0.005692,0.025298,0.005692
10,2013,United States,316234505.0,399.0,458889.0,732270.0,11,19436.0,15898.0,497659.0,1805759.0,26.0,4.0,86.0,21.0,16.0,18.0,1.0,1.238095,4.095238,0.126172,145.110351,231.559172,6.146072,5.027282,157.370240,571.018966,0.008222,0.027195,0.006641
11,2013,United States,316234505.0,274.0,565419.0,844358.0,12,21244.0,19688.0,522226.0,2032755.0,21.0,4.0,54.0,15.0,6.0,8.0,0.0,1.400000,3.600000,0.086645,178.797377,267.003754,6.717800,6.225760,165.138842,642.799874,0.006641,0.017076,0.004743
12,2013,Alabama,4827660.0,0.0,20186.0,30523.0,12,926.0,738.0,21065.0,77374.0,3.0,3.0,5.0,1.0,5.0,8.0,0.0,3.000000,5.000000,0.000000,418.132180,632.252478,19.181135,15.286909,436.339759,1602.722644,0.062142,0.103570,0.020714
13,2013,Alabama,4827660.0,0.0,14646.0,22547.0,11,808.0,508.0,15409.0,59213.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,303.376791,467.037861,16.736887,10.522696,319.181550,1226.536252,0.000000,0.000000,0.000000
14,2013,Alabama,4827660.0,0.0,12230.0,15479.0,10,740.0,461.0,18118.0,51520.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,253.331842,320.631527,15.328337,9.549140,375.295692,1067.183687,0.000000,0.000000,0.000000
15,2013,Alabama,4827660.0,0.0,11406.0,13077.0,9,616.0,566.0,16722.0,46263.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,236.263531,270.876574,12.759805,11.724107,346.378991,958.290352,0.000000,0.000000,0.000000
16,2013,Alabama,4827660.0,0.0,14310.0,13402.0,8,688.0,350.0,17470.0,49978.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,296.416898,277.608614,14.251211,7.249889,361.873040,1035.242747,0.000000,0.000000,0.000000
17,2013,Alabama,4827660.0,0.0,12058.0,12037.0,7,552.0,381.0,4632.0,33290.0,0.0,0.0,4.0,1.0,4.0,4.0,0.0,0.000000,4.000000,0.000000,249.769039,249.334046,11.434111,7.892022,95.947105,689.568031,0.000000,0.082856,0.020714
18,2013,Alabama,4827660.0,0.0,11054.0,10828.0,6,549.0,349.0,1861.0,27990.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,228.972214,224.290857,11.371969,7.229175,38.548696,579.783995,0.000000,0.000000,0.000000
19,2013,Alabama,4827660.0,0.0,13221.0,12165.0,5,559.0,372.0,2017.0,32005.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,273.859385,251.985434,11.579109,7.705597,41.780076,662.950581,0.000000,0.000000,0.000000
20,2013,Alabama,4827660.0,2.0,14930.0,13043.0,4,695.0,468.0,672.0,33215.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.041428,309.259558,270.172299,14.396209,9.694138,13.919787,688.014483,0.000000,0.000000,0.000000
21,2013,Alabama,4827660.0,0.0,20215.0,18498.0,3,928.0,538.0,679.0,45144.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,418.732885,383.167000,19.222563,11.144115,14.064785,935.111420,0.000000,0.000000,0.000000
22,2013,Alabama,4827660.0,0.0,24166.0,19763.0,2,1147.0,579.0,738.0,52678.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,500.573777,409.370171,23.758923,11.993388,15.286909,1091.170464,0.000000,0.000000,0.000000
23,2013,Alabama,4827660.0,0.0,26630.0,22168.0,1,1062.0,645.0,848.0,55210.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,551.612997,459.187267,21.998235,13.360510,17.565446,1143.618233,0.000000,0.000000,0.000000
24,2013,Alaska,736760.0,0.0,3036.0,4064.0,12,205.0,193.0,155.0,7951.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,412.074488,551.604322,27.824529,26.195776,21.038059,1079.184538,0.000000,0.000000,0.000000
25,2013,Alaska,736760.0,0.0,2472.0,3482.0,11,182.0,168.0,253.0,6868.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,335.523101,472.609805,24.702753,22.802541,34.339541,932.189587,0.000000,0.000000,0.000000
26,2013,Alaska,736760.0,0.0,3039.0,4016.0,10,252.0,220.0,204.0,8322.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,412.481677,545.089310,34.203811,29.860470,27.688800,1129.540149,0.000000,0.000000,0.000000
27,2013,Alaska,736760.0,0.0,2152.0,3073.0,9,154.0,132.0,176.0,6047.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,292.089690,417.096476,20.902329,17.916282,23.888376,820.755741,0.000000,0.000000,0.000000
28,2013,Alaska,736760.0,0.0,2743.0,3827.0,8,178.0,150.0,207.0,7545.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,372.305771,519.436451,24.159835,20.359411,28.095988,1024.078397,0.000000,0.000000,0.000000
29,2013,Alaska,736760.0,0.0,2304.0,2659.0,7,154.0,134.0,175.0,5889.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,312.720560,360.904501,20.902329,18.187741,23.752647,799.310495,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3090,2017,West Virginia,1815857.0,3.0,5409.0,4165.0,6,328.0,229.0,1889.0,14498.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.165211,297.875879,229.368282,18.063096,12.611125,104.028015,798.410888,0.000000,0.000000,0.000000
3091,2017,West Virginia,1815857.0,7.0,5818.0,4329.0,5,321.0,262.0,2141.0,15085.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.385493,320.399679,238.399830,17.677603,14.428449,117.905760,830.737222,0.000000,0.000000,0.000000
3092,2017,West Virginia,1815857.0,4.0,6723.0,5263.0,4,365.0,257.0,2267.0,16988.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.220282,370.238405,289.835598,20.100702,14.153097,124.844633,935.536223,0.000000,0.000000,0.000000
3093,2017,West Virginia,1815857.0,2.0,8887.0,6616.0,3,523.0,324.0,2951.0,22529.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.110141,489.410785,364.345871,28.801827,17.842815,162.512797,1240.681397,0.000000,0.000000,0.000000
3094,2017,West Virginia,1815857.0,25.0,8917.0,6203.0,2,668.0,281.0,2274.0,22449.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,1.376760,491.062898,341.601789,36.787038,15.474787,125.230125,1236.275764,0.000000,0.000000,0.000000
3095,2017,West Virginia,1815857.0,0.0,5837.0,4995.0,1,344.0,272.0,2063.0,15772.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,321.446017,275.076727,18.944223,14.979153,113.610268,868.570598,0.000000,0.000000,0.000000
3096,2017,Wisconsin,5795483.0,0.0,15745.0,14414.0,12,38.0,1051.0,15392.0,47120.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,271.677097,248.710936,0.655683,18.134813,265.586147,813.046988,0.000000,0.000000,0.000000
3097,2017,Wisconsin,5795483.0,0.0,14237.0,18174.0,11,63.0,823.0,14647.0,48683.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,245.656833,313.589049,1.087053,14.200715,252.731308,840.016268,0.000000,0.000000,0.000000
3098,2017,Wisconsin,5795483.0,0.0,11834.0,15385.0,10,60.0,830.0,14488.0,43183.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,204.193507,265.465363,1.035289,14.321498,249.987792,745.114773,0.000000,0.000000,0.000000
3099,2017,Wisconsin,5795483.0,0.0,10918.0,13133.0,9,43.0,612.0,12224.0,37506.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,188.388095,226.607515,0.741957,10.559948,210.922886,647.159176,0.000000,0.000000,0.000000
3100,2017,Wisconsin,5795483.0,0.0,12749.0,14317.0,8,42.0,642.0,12647.0,40924.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,219.981665,247.037218,0.724702,11.077593,218.221674,706.136141,0.000000,0.000000,0.000000
3101,2017,Wisconsin,5795483.0,0.0,11537.0,9946.0,7,44.0,585.0,10275.0,32846.0,0.0,0.0,4.0,1.0,4.0,4.0,0.0,0.000000,4.000000,0.000000,199.068827,171.616412,0.759212,10.094068,177.293247,566.751727,0.000000,0.069019,0.017255
3102,2017,Wisconsin,5795483.0,0.0,13463.0,9959.0,6,41.0,640.0,11645.0,36267.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,232.301605,171.840725,0.707448,11.043083,200.932347,625.780457,0.000000,0.000000,0.000000
3103,2017,Wisconsin,5795483.0,0.0,14070.0,9467.0,5,58.0,709.0,13117.0,37888.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,242.775279,163.351355,1.000779,12.233665,226.331438,653.750516,0.000000,0.000000,0.000000
3104,2017,Wisconsin,5795483.0,0.0,16700.0,13302.0,4,46.0,873.0,14511.0,45872.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,288.155448,229.523579,0.793722,15.063455,250.384653,791.512977,0.000000,0.000000,0.000000
3105,2017,Wisconsin,5795483.0,0.0,19864.0,16763.0,3,41.0,1105.0,20393.0,58739.0,5.0,5.0,0.0,1.0,0.0,5.0,0.0,5.000000,0.000000,0.000000,342.749690,289.242501,0.707448,19.066573,351.877488,1013.530710,0.086274,0.000000,0.017255
3106,2017,Wisconsin,5795483.0,0.0,18147.0,12247.0,2,57.0,858.0,18733.0,50720.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,313.123169,211.319747,0.983525,14.804633,323.234491,875.164331,0.000000,0.000000,0.000000
3107,2017,Wisconsin,5795483.0,0.0,12346.0,8888.0,1,29.0,758.0,24323.0,46775.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,213.027974,153.360816,0.500390,13.079151,419.688920,807.094077,0.000000,0.000000,0.000000
3108,2017,Wyoming,579315.0,20.0,2763.0,3104.0,12,120.0,165.0,435.0,6940.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,3.452353,476.942596,535.805218,20.714119,28.481914,75.088682,1197.966564,0.000000,0.000000,0.000000
3109,2017,Wyoming,579315.0,4.0,2165.0,2545.0,11,134.0,148.0,280.0,5665.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.690471,373.717235,439.311946,23.130767,25.547414,48.332945,977.879047,0.000000,0.000000,0.000000
3110,2017,Wyoming,579315.0,9.0,1321.0,2107.0,10,87.0,119.0,288.0,4370.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,1.553559,228.027930,363.705411,15.017736,20.541502,49.713886,754.339176,0.000000,0.000000,0.000000
3111,2017,Wyoming,579315.0,1.0,1337.0,2015.0,9,97.0,61.0,280.0,4281.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.172618,230.789812,347.824586,16.743913,10.529677,48.332945,738.976205,0.000000,0.000000,0.000000
3112,2017,Wyoming,579315.0,2.0,1411.0,1762.0,8,86.0,62.0,408.0,4111.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.345235,243.563519,304.152318,14.845119,10.702295,70.428005,709.631202,0.000000,0.000000,0.000000
3113,2017,Wyoming,579315.0,11.0,1231.0,1395.0,7,77.0,82.0,279.0,3398.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,1.898794,212.492340,240.801636,13.291560,14.154648,48.160327,586.554810,0.000000,0.000000,0.000000
3114,2017,Wyoming,579315.0,0.0,1520.0,1544.0,6,85.0,107.0,350.0,3975.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,262.378844,266.521668,14.672501,18.470090,60.416181,686.155201,0.000000,0.000000,0.000000
3115,2017,Wyoming,579315.0,5.0,1589.0,1578.0,5,91.0,101.0,435.0,4128.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.863088,274.289463,272.390668,15.708207,17.434384,75.088682,712.565703,0.000000,0.000000,0.000000
3116,2017,Wyoming,579315.0,8.0,1633.0,1711.0,4,85.0,108.0,382.0,4269.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,1.380941,281.884640,295.348817,14.672501,18.642707,65.939946,736.904793,0.000000,0.000000,0.000000
3117,2017,Wyoming,579315.0,6.0,2017.0,2038.0,3,124.0,134.0,534.0,5315.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,1.035706,348.169821,351.794792,21.404590,23.130767,92.177831,917.462866,0.000000,0.000000,0.000000
3118,2017,Wyoming,579315.0,8.0,1839.0,1646.0,2,113.0,123.0,330.0,4554.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,1.380941,317.443878,284.128669,19.505796,21.231972,56.963828,786.100826,0.000000,0.000000,0.000000
3119,2017,Wyoming,579315.0,0.0,1329.0,1433.0,1,73.0,109.0,449.0,3705.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,229.408871,247.361108,12.601089,18.815325,77.505330,639.548432,0.000000,0.000000,0.000000

In [21]:
df.isna().sum()

year                0
state               0
population          0
admin               0
handgun             0
long_gun            0
month               0
multiple            0
other               0
permit              0
totals              0
killed              0
killed_max          0
injured             0
incidents           0
injured_max         0
affected_max        0
affected_over_10    0
killed_ave          0
injured_ave         0
admin_pop           0
handgun_pop         0
long_gun_pop        0
multiple_pop        0
other_pop           0
permit_pop          0
totals_pop          0
killed_pop          0
injured_pop         0
incidents_pop       0
dtype: int64

In [20]:
df=df.fillna(0)

In [22]:
df.to_csv('./data/shootings_and_sales_per_pop.csv',index=False)