In [125]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns # for visualiation
from datetime import datetime

In [126]:

# combined mass shooting data from 13-18
mass_shoot_13_18 = pd.read_csv('./data/mass_shooting_data_13_18.csv')
df= mass_shoot_13_18
df = df.drop(['Operations'], axis=1)

In [127]:
mass = df

In [128]:
df = pd.read_csv('./data/gunsales_population.csv')

In [129]:
mass.head()

,Incident Date,State,City Or County,Address,# Killed,# Injured
0,"December 31, 2013",New York,Brooklyn,60 Glenmore Ave,0,6
1,"December 28, 2013",Alabama,Montgomery,954 Highland Ave,3,5
2,"December 26, 2013",Louisiana,Slidell,2144 First St,2,6
3,"December 26, 2013",Louisiana,Lockport,313 Tenth St,3,3
4,"December 25, 2013",New Jersey,Irvington,Nye Avenue and 21st Street,3,2

In [130]:
df.head()

,Unnamed: 0,year,state,population,admin,handgun,long_gun,month,multiple,other,permit,totals
0,0,2013,United States,316234505.0,267.0,881038.0,788328.0,1,31029.0,26137.0,693076.0,2483230.0
1,1,2013,United States,316234505.0,375.0,770872.0,703223.0,2,31163.0,22709.0,664252.0,2298561.0
2,2,2013,United States,316234505.0,376.0,683266.0,700873.0,3,23878.0,23817.0,695386.0,2197116.0
3,3,2013,United States,316234505.0,665.0,533674.0,554003.0,4,18624.0,21136.0,517224.0,1702455.0
4,4,2013,United States,316234505.0,619.0,445522.0,436674.0,5,16057.0,15605.0,449993.0,1424450.0

In [131]:
mass.columns = ['Date','state','city','Address','killed','injured']

In [132]:
df=df.drop('Unnamed: 0',axis=1)

In [133]:
mass = mass.drop('Address',axis=1)

In [134]:
mass['year']=pd.DatetimeIndex(mass['Date']).year

In [135]:
mass['month']=pd.DatetimeIndex(mass['Date']).month

In [136]:
mass = mass.drop('Date',axis=1)

In [137]:
by_shootings = df.merge(mass)

In [138]:
by_shootings.to_csv('./data/gunsales_population_by_shootings.csv',index=False)

In [139]:
mass_grouped = mass.groupby(['state','year','month'])['killed','injured'].agg(['sum','count']).reset_index()

In [141]:
mass_grouped

              state  year month killed       injured
                                   sum count     sum count
0           Alabama  2013     7      0     1       4     1
1           Alabama  2013    12      3     1       5     1
2           Alabama  2014     1      0     1       5     1
3           Alabama  2014     6      1     1       4     1
4           Alabama  2015     4      0     1       5     1
5           Alabama  2015     5      1     1       3     1
6           Alabama  2015    11      3     1       1     1
7           Alabama  2015    12      0     1       4     1
8           Alabama  2016     2      1     2       8     2
9           Alabama  2016     3      2     1       2     1
10          Alabama  2016     4      4     4      13     4
11          Alabama  2016     5      2     2       7     2
12          Alabama  2016     8      6     3      11     3
13          Alabama  2016    10      0     1       5     1
14          Alabama  2016    12      1     2       7     2
15          Alabama  2017     4      0     1       6     1
16          Alabama  2017     5      0     1      12     1
17          Alabama  2017     7      3     1       1     1
18          Alabama  2017     9      0     1       4     1
19          Alabama  2017    10      2     1       7     1
20          Alabama  2017    12      1     2       8     2
21          Alabama  2018     1      3     4      16     4
22          Alabama  2018     3      2     1       2     1
23          Alabama  2018     4      1     1       4     1
24          Alabama  2018     6      0     2       8     2
25          Alabama  2018     7      3     2       8     2
26          Alabama  2018     9      1     2      11     2
27          Alabama  2018    10      0     1       4     1
28          Alabama  2018    11      2     1       2     1
29           Alaska  2014     9      0     1       6     1
...             ...   ...   ...    ...   ...     ...   ...
1075     Washington  2014     1      1     1       4     1
1076     Washington  2014     7      0     1       5     1
1077     Washington  2014    10      5     1       1     1
1078     Washington  2015    11      0     1       4     1
1079     Washington  2016     1      2     1       3     1
1080     Washington  2016     2      5     1       0     1
1081     Washington  2016     6      3     1       1     1
1082     Washington  2016     7      6     2       2     2
1083     Washington  2016     8      0     1       5     1
1084     Washington  2016     9      5     1       0     1
1085     Washington  2016    11      0     1       5     1
1086     Washington  2017     1      4     1       0     1
1087     Washington  2017     8      0     1       6     1
1088     Washington  2017     9      1     1       3     1
1089     Washington  2018     4      2     1       2     1
1090     Washington  2018     7      1     1       4     1
1091     Washington  2018    10      1     1       3     1
1092  West Virginia  2013     7      4     1       0     1
1093  West Virginia  2013     9      0     1       6     1
1094  West Virginia  2016     5      1     1       3     1
1095      Wisconsin  2013     6      0     1       4     1
1096      Wisconsin  2014     6      0     1       5     1
1097      Wisconsin  2014     8      0     1       4     1
1098      Wisconsin  2015     5      6     3       9     3
1099      Wisconsin  2016     4      1     1       3     1
1100      Wisconsin  2016     8      2     1       2     1
1101      Wisconsin  2017     3      5     1       0     1
1102      Wisconsin  2017     7      0     1       4     1
1103      Wisconsin  2018     8      0     1       4     1
1104      Wisconsin  2018     9      1     2       8     2

[1105 rows x 7 columns]

In [140]:
df = df.merge(mass_grouped)

C:\Users\Elias\Anaconda3\lib\site-packages\pandas\core\reshape\merge.py:544: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [111]:
df.admin = 100000 * df.admin/df.population

In [112]:
df.handgun = 100000 * df.handgun/df.population

In [113]:
df.long_gun = 100000 * df.long_gun/df.population

In [114]:
df.multiple = 100000 * df.multiple/df.population

In [115]:
df.other = 100000 * df.other/df.population

In [116]:
df.permit = 100000 * df.permit/df.population

In [117]:
df.totals = 100000 * df.totals/df.population

In [118]:
df.killed = 100000 * df.killed/df.population

In [119]:
df.injured = 100000 * df.injured/df.population

In [120]:
df

,year,state,population,admin,handgun,long_gun,month,multiple,other,permit,totals,killed,injured
0,2013,Alabama,4827660.0,0.000000,418.132180,632.252478,12,19.181135,15.286909,436.339759,1602.722644,0.062142,0.103570
1,2013,Alabama,4827660.0,0.000000,249.769039,249.334046,7,11.434111,7.892022,95.947105,689.568031,0.000000,0.082856
2,2013,Arizona,6616124.0,0.000000,151.584221,151.977200,11,8.071191,7.950274,54.110231,405.660474,0.015115,0.045344
3,2013,Arizona,6616124.0,0.000000,131.784108,117.138071,10,7.330576,7.300347,67.819164,364.987113,0.000000,0.060458
4,2013,Arizona,6616124.0,0.000000,144.087384,110.638797,5,5.955148,7.602639,114.689507,410.285539,0.000000,0.075573
5,2013,Arizona,6616124.0,0.000000,177.959180,130.741201,4,7.950274,11.305713,133.461827,490.377750,0.030229,0.060458
6,2013,California,38347383.0,0.000000,81.264998,113.994741,11,0.000000,0.219050,87.168921,284.608731,0.002608,0.049547
7,2013,California,38347383.0,0.000000,80.039360,98.609076,10,0.000000,0.344222,117.734240,298.833952,0.005215,0.057370
8,2013,California,38347383.0,0.000000,71.509443,101.967845,9,0.000000,0.195580,95.810971,271.379666,0.010431,0.013039
9,2013,California,38347383.0,0.005215,80.892091,104.241794,8,0.000000,0.192973,102.512862,289.803349,0.007823,0.031293
10,2013,California,38347383.0,0.010431,77.009166,82.310702,7,0.000000,0.195580,99.839929,261.071270,0.007823,0.036508
11,2013,California,38347383.0,0.000000,77.455090,91.289150,6,0.000000,0.203404,113.939979,284.642631,0.028685,0.020862
12,2013,California,38347383.0,0.000000,82.503674,96.895791,5,0.000000,0.185150,111.621698,293.276858,0.013039,0.020862
13,2013,California,38347383.0,0.000000,90.491182,110.870669,4,0.000000,0.187757,83.619787,287.239940,0.002608,0.018254
14,2013,California,38347383.0,0.000000,99.128016,125.643515,3,0.000000,0.208619,77.580261,305.381987,0.020862,0.054763
15,2013,California,38347383.0,0.005215,99.320989,120.023836,2,0.000000,0.252951,60.911588,283.372662,0.015646,0.036508
16,2013,California,38347383.0,0.000000,133.059927,142.192233,1,0.000000,0.250343,69.342411,347.317052,0.002608,0.018254
17,2013,Colorado,5262556.0,0.000000,243.132805,242.296709,9,14.992715,9.786119,90.526353,600.848713,0.000000,0.095011
18,2013,Colorado,5262556.0,0.000000,306.638067,250.942698,6,20.940395,12.503430,178.183377,769.359984,0.000000,0.076009
19,2013,Connecticut,3602470.0,0.360864,120.028758,89.494153,10,0.000000,2.165181,348.372089,560.421044,0.027759,0.138794
20,2013,Connecticut,3602470.0,0.166552,129.050346,107.120948,9,0.000000,1.721041,363.361805,601.420692,0.027759,0.111035
21,2013,Connecticut,3602470.0,0.222070,129.050346,69.313554,7,0.000000,1.471213,427.234647,627.291830,0.000000,0.111035
22,2013,Delaware,925114.0,0.000000,174.897364,202.245345,12,5.729024,10.485194,10.593289,405.571638,0.000000,0.432379
23,2013,Delaware,925114.0,0.000000,129.281364,111.553819,8,5.620929,4.864265,19.889441,273.047430,0.000000,0.432379
24,2013,Delaware,925114.0,0.000000,254.887506,179.221155,2,10.377099,10.701384,1.621422,457.781419,0.324284,0.216190
25,2013,District of Columbia,650114.0,0.000000,4.460756,0.769096,11,0.153819,0.000000,0.000000,5.383671,0.000000,0.615277
26,2013,District of Columbia,650114.0,0.000000,5.076033,0.461458,9,0.000000,0.000000,0.000000,5.537490,1.845830,0.922915
27,2013,District of Columbia,650114.0,0.000000,4.614575,0.153819,7,0.153819,0.000000,0.000000,4.922214,0.000000,0.615277
28,2013,District of Columbia,650114.0,0.000000,7.383320,0.461458,3,0.153819,0.000000,0.000000,7.998597,0.000000,1.999649
29,2013,District of Columbia,650114.0,0.000000,8.460055,0.615277,1,0.000000,0.000000,0.000000,9.075331,0.000000,0.769096
...,...,...,...,...,...,...,...,...,...,...,...,...,...
899,2017,Tennessee,6715984.0,0.000000,321.829236,240.188184,10,0.000000,19.133458,245.161394,826.848307,0.000000,0.059559
900,2017,Tennessee,6715984.0,0.000000,286.168043,204.675890,9,0.000000,15.515225,251.444911,758.563451,0.044670,0.297797
901,2017,Tennessee,6715984.0,0.000000,297.275872,211.495441,8,0.000000,17.733812,216.617550,743.673600,0.000000,0.059559
902,2017,Tennessee,6715984.0,0.000000,347.960924,172.096896,6,0.000000,18.418745,248.988086,788.551611,0.000000,0.119119
903,2017,Tennessee,6715984.0,0.000000,437.300029,237.076205,3,0.000000,22.721912,413.431598,1111.601814,0.014890,0.059559
904,2017,Tennessee,6715984.0,0.000000,476.207210,244.565800,2,0.000000,23.213277,286.659408,1031.330629,0.000000,0.059559
905,2017,Tennessee,6715984.0,0.000000,342.600578,202.248844,1,0.000000,16.512845,682.803890,1244.985098,0.029780,0.238238
906,2017,Texas,28304596.0,0.000000,250.019467,235.929882,12,12.323087,15.234275,87.671274,640.305907,0.000000,0.014132
907,2017,Texas,28304596.0,0.000000,211.414429,182.076437,11,12.630458,12.188833,117.624007,577.143019,0.098924,0.095391
908,2017,Texas,28304596.0,0.000000,147.608537,138.836110,10,8.938478,12.835371,108.745590,458.826545,0.010599,0.035330
909,2017,Texas,28304596.0,0.000000,138.207237,139.256536,9,8.737097,9.779331,110.900717,453.141956,0.031797,0.003533
910,2017,Texas,28304596.0,0.000000,130.413449,96.256452,7,7.747858,9.373036,67.148106,347.427676,0.003533,0.010599
911,2017,Texas,28304596.0,0.000000,172.745797,102.877285,6,8.150620,10.598985,84.357325,417.214929,0.014132,0.042396
912,2017,Texas,28304596.0,0.000000,149.678872,98.892067,5,7.864447,10.567188,85.385426,387.682622,0.007066,0.024731
913,2017,Texas,28304596.0,0.000000,158.963583,98.976859,4,8.627574,10.945219,76.287964,388.491678,0.021198,0.035330
914,2017,Texas,28304596.0,0.000000,197.787667,121.209997,3,10.054904,13.079148,118.044433,509.705208,0.007066,0.014132
915,2017,Texas,28304596.0,0.000000,150.848293,110.632210,1,7.687797,10.740305,100.693894,416.550726,0.014132,0.045929
916,2017,Utah,3101833.0,0.000000,106.614379,96.362377,6,0.000000,6.705712,474.590347,713.707024,0.096717,0.064478
917,2017,Virginia,8470020.0,0.000000,241.439808,190.896834,10,0.000000,31.133339,11.877186,475.713162,0.011806,0.035419
918,2017,Virginia,8470020.0,0.000000,232.301695,177.980690,9,0.000000,12.986982,6.906713,430.294143,0.011806,0.047225
919,2017,Virginia,8470020.0,0.000000,245.536610,176.221544,8,0.000000,13.707170,26.210092,461.793479,0.000000,0.047225
920,2017,Virginia,8470020.0,0.000000,244.249718,157.980737,7,0.000000,11.463963,13.447430,427.189074,0.023613,0.247933
921,2017,Virginia,8470020.0,0.000000,264.651087,150.011452,6,0.000000,11.322287,8.595021,434.922232,0.023613,0.094451
922,2017,Virginia,8470020.0,0.000000,348.051126,198.866118,4,0.000000,14.486388,12.680017,574.154488,0.000000,0.047225
923,2017,Virginia,8470020.0,0.000000,335.701687,195.831887,2,0.000000,13.813427,9.893719,555.346977,0.011806,0.082644
924,2017,Washington,7405743.0,0.040509,179.482329,155.933037,9,7.926281,21.915424,154.623243,581.292113,0.013503,0.040509
925,2017,Washington,7405743.0,0.081018,186.179834,132.005661,8,8.412390,20.646139,162.954615,568.747795,0.000000,0.081018
926,2017,Washington,7405743.0,0.000000,210.579816,133.855577,1,7.089093,25.615256,190.244247,621.504149,0.054012,0.000000
927,2017,Wisconsin,5795483.0,0.000000,199.068827,171.616412,7,0.759212,10.094068,177.293247,566.751727,0.000000,0.069019
928,2017,Wisconsin,5795483.0,0.000000,342.749690,289.242501,3,0.707448,19.066573,351.877488,1013.530710,0.086274,0.000000

In [122]:
df.to_csv('./data/shootings_and_sales_per_pop.csv',index=False)