In [32]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns # for visualiation
from datetime import datetime

In [33]:

# combined mass shooting data from 13-18
mass_shoot_13_18 = pd.read_csv('./data/mass_shooting_data_13_18.csv')
df= mass_shoot_13_18
df = df.drop(['Operations'], axis=1)

In [34]:
mass = df

In [35]:
df = pd.read_csv('./data/gunsales_population.csv')

In [36]:
mass.head()

,Incident Date,State,City Or County,Address,# Killed,# Injured
0,"December 31, 2013",New York,Brooklyn,60 Glenmore Ave,0,6
1,"December 28, 2013",Alabama,Montgomery,954 Highland Ave,3,5
2,"December 26, 2013",Louisiana,Slidell,2144 First St,2,6
3,"December 26, 2013",Louisiana,Lockport,313 Tenth St,3,3
4,"December 25, 2013",New Jersey,Irvington,Nye Avenue and 21st Street,3,2

In [37]:
df.head()

,Unnamed: 0,year,state,population,admin,handgun,long_gun,month,multiple,other,permit,totals
0,0,2013,United States,316234505.0,267.0,881038.0,788328.0,1,31029.0,26137.0,693076.0,2483230.0
1,1,2013,United States,316234505.0,375.0,770872.0,703223.0,2,31163.0,22709.0,664252.0,2298561.0
2,2,2013,United States,316234505.0,376.0,683266.0,700873.0,3,23878.0,23817.0,695386.0,2197116.0
3,3,2013,United States,316234505.0,665.0,533674.0,554003.0,4,18624.0,21136.0,517224.0,1702455.0
4,4,2013,United States,316234505.0,619.0,445522.0,436674.0,5,16057.0,15605.0,449993.0,1424450.0

In [38]:
mass.columns = ['Date','state','city','Address','killed','injured']

In [39]:
df=df.drop('Unnamed: 0',axis=1)

In [40]:
mass = mass.drop('Address',axis=1)

In [41]:
mass['year']=pd.DatetimeIndex(mass['Date']).year

In [42]:
mass['month']=pd.DatetimeIndex(mass['Date']).month

In [43]:
mass = mass.drop('Date',axis=1)